doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Our team
        link(rel="stylesheet", href="style.css")
    body
        div.blog-container
            div.blog
                .blog__title-container.blog__title
                    .title__description
                     p 
                        b THE GENIUSES BEHIND OUR WORK
                    .title__blog-name
                     h1 OUR TEAM 
                    div.title__logo 
                        hr.line
                        <i class="logo fa fa-fire" aria-hidden="true"></i>
                        hr.line
                .blog__info-container.blog__info
                    .info__photo
                        img.photo(src="profile.png", alt="photo of our teammate")
                    .info__separator
                    .info__about
                        .about__name 
                            b Sahariar Kabir
                        hr.line.line--name
                        .about__position Frontend Developer
                        .about__social
                            .social__icon
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            .social__icon
                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                            .social__icon
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            .social__icon
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                        .about__biography
                            p.biography Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus dui sit amet ligula efficitur, sit amet lacinia massa dictum. Etiam accumsan felis a nunc facilisis, ut euismod lacus placerat. Praesent rutrum eget massa a convallis. Nam vitae augue malesuada, accumsan mauris ut, consectetur.
                            
                        .about__button
                            button.button 
                                b VIEW PROFILE
        <script src="https://use.fontawesome.com/a922d360e9.js"></script>